/* Responsive CSS */

/* Common Responsive Styles */
@media (max-width: 1200px) {
  /* Adjustments for large desktops */
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav .nav-item {
    padding-right: 0;
    margin-bottom: 10px;
  }

  .navbar-nav .nav-item:not(:last-child)::after {
    display: none;
  }

  .banner_left_wrapper .fw-bold {
    font-size: 60px;
    line-height: 80px;
  }

  .about_agency_wrapper h3 {
    font-size: 35px;
    line-height: 45px;
  }

  .what_we_offer_wrapper h3 {
    font-size: 35px;
    width: 100%;
  }

  .what_we_offer_wrapper .nav {
    width: 100%;
  }

  .see_video_wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .video_rigt_container .vdtitle,
  .video_rigt_container .vddescription {
    width: 100%;
  }

  .residential_cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonialbg {
    flex-direction: column;
    padding: 50px 20px;
  }

  .testimonial_slider {
    position: static;
    margin-top: 20px;
  }

  .teamwrapper h3 {
    font-size: 35px;
  }

  .contact_wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .divider {
    display: none;
  }
}

@media (max-width: 992px) {
  /* Adjustments for tablets */
  .banner_left_wrapper .fw-bold {
    font-size: 50px;
    line-height: 70px;
  }

  .about_agency_wrapper {
    flex-direction: column;
  }

  .agency_content {
    position: static;
    margin-bottom: 20px;
  }

  .about_agency_wrapper .text-muted {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(41, 49, 61, 0.5) !important;
    margin-top: 47px;
    text-align: justify;
    padding: 0 5px;
    margin-bottom: 30px;
}
.our_Real_div{
  text-align: center;
}
#whatweoffer {
  margin-top: 80px;
  margin-bottom: 10px;
}
  .what_we_offer_wrapper h3 {
    font-size: 30px;
  }

 

  .what_we_offer_wrapper .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .tabbing_description {
    flex-direction: column;
  }

  .ResidentialImg img {
    position: static;
    margin-top: 20px;
  }

  .residential_cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .teamwrapper h3 {
    font-size: 30px;
  }

  .contact_wrapper .contact-info {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  /* Adjustments for small tablets and large phones */
  .banner_left_wrapper .fw-bold {
    font-size: 40px;
    line-height: 60px;
  }

  .about_agency_wrapper h3 {
    font-size: 30px;
    line-height: 40px;
  }

  .what_we_offer_wrapper h3 {
    font-size: 25px;
  }

  .see_video_wrapper {
    margin-bottom: 50px;
  }

  .testimonialbg {
    padding: 30px 10px;
  }

 

  .teamwrapper h3 {
    font-size: 25px;
  }

  .footer_left_des input {
    width: 100%;
  }
}

@media (max-width: 576px) {
  /* Adjustments for mobile phones */
  .navbar {
    margin-top: 0 !important;
    border: none;
  }
  .navbar-toggler {
    background-color: white !important;
  }
  .banner_left_wrapper .fw-bold {
    font-size: 30px;
    line-height: 50px;
  }

  .banner_left_wrapper .bannerdes {
    font-size: 18px;
    line-height: 28px;
  }
.justify-content-center{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.banner_left_wrapper .banner_title {
  margin-top: 40px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 16px;
}
.banner_left_wrapper .fw-bold {
  font-size: 23px;
  line-height: 30px;
}
.banner_button button {
  margin-bottom: 100px;
  padding: 16px 18px;
  font-size: 15px;
  font-weight: 700;
}
.about-agency {
  padding-top: 80px;
  padding-bottom: 20px;
}
.what_we_offer_wrapper {
  border-bottom: 1.5px solid rgba(215, 224, 242, 0.6);
  margin-bottom: 10px;
}
.about_agency_wrapper .agency_title {
  font-weight: 700;
  font-size: 15px;
  color: rgba(5, 160, 129, 1);
  margin-bottom: 30px;
}
.about_agency_wrapper h3 {
  font-size: 22px;
  line-height: 30px;
}

  .about_agency_wrapper .agencyrightimg {
    width: 100%;
    overflow: hidden;
  }
  .what_we_offer_wrapper .nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: center;
    border-bottom: 1.5px solid rgba(215, 224, 242, 0.6);
    padding-bottom: 10px;
  }
  
  .what_we_offer_wrapper .nav-item {
    flex: 0 0 auto;
    margin-right: 30px;
  }
  
  .what_we_offer_wrapper .nav-link {
    font-weight: 500;
    font-size: 16px;
    color: rgba(41, 49, 61, 0.7) !important;
  }
  
  .what_we_offer_wrapper .nav-link.active {
    font-weight: 700;
    color: rgba(5, 160, 129, 1) !important;
    position: relative;
  }
  
  .what_we_offer_wrapper .nav-link.active::after {
    content: "";
    background-color: rgba(5, 160, 129, 1);
    width: 27px;
    height: 6px;
    position: absolute;
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
  }
  .copyright p {
    font-size: 13px;
    margin-top: 15px;
  }
}
  
  @media screen and (max-width: 768px) {
    .what_we_offer_wrapper .nav {
      justify-content: flex-start;
      overflow-x: auto;
    }
    
    .what_we_offer_wrapper .nav-item {
      margin-right: 20px;
    }

  .tabbing_description {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
  }

  .tabbing_description .text-muted {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 40px;
  }

  .tabbing_description a {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }

  .ResidentialImg {
    position: static;
    text-align: center;
    margin-top: 30px;
  }

  .ResidentialImg img {
    position: static;
    width: 100%;
    max-width: 350px;
  }
  #seeallvideo {
    height: auto;
    background-size: cover;
    margin-bottom: 10px;
    padding: 40px 20px;
  }

  .see_video_wrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 30px;
    position: static;
    margin-bottom: 50px;
  }

  .see_video_wrapper img {
    width: 100%;
    max-width: 350px;
    height: auto;
  }

  .video_rigt_container {
    width: 100%;
    padding: 0 15px;
  }

  .video_rigt_container .vdtitle {
    font-size: 18px;
    line-height: 28px;
    width: 100%;
  }

  .video_rigt_container .vddescription {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }

  .see_video_wrapper button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }
  #residentials {
    margin: 20px 0;
  }

  #residentials .residen_wrapper p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }

  #residentials .residen_wrapper h3 {
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 30px;
  }

  .residential_cards {
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
  }

  .residential_cards .bottom {
    margin-top: 0;
  }

  .residential_cards .card {
    width: 90%;
  }

  .residential_cards .card-title {
    font-size: 20px;
  }

  .residential_cards .card-text {
    font-size: 12px;
  }

  .meet_button {
    text-align: center;
    margin-top: 10px;
  }
  .meet_button button {
    font-weight: 700;
    font-size: 18px;
    background-color: rgba(5, 160, 129, 1);
    padding: 15px 18px;
    margin-top: 20px;
    border: none;
    outline: none;
}
  .meet_button button {
    font-size: 16px;
    padding: 12px 15px;
    width: 100%;
    max-width: 250px;
  }
  .testimonialbg {
    padding: 20px 5px;
  }



  #testimonial .testimonialbg {
    padding: 60px 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .test_title_wrapper h3 {
    font-size: 22px;
    line-height: 36px;
    width: auto;
    margin-bottom: 15px;
}
  .test_title_wrapper .real_des {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
  }

  .pro_pic_wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-bottom: 30px;
  }

  .pro_pic_wrapper img {
    width: 60px;
  }

  .counter {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .counter .item1 {
    width: 45%;
    text-align: center;
  }

  .counter .item1 h3 {
    font-size: 30px;
    line-height: 36px;
  }

  .counter .item1 p {
    font-size: 12px;
  }

  .testimonial_wrapper {
    margin-top: 40px;
    position: relative;
    width: 100%;
  }

  .testimonial_slider {
    position: static;
    width: 100%;
    text-align: center;
  }

  .testimonial_slider img {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }

  #teammember {
    padding: 80px 20px;
    margin-left: 0;
  }

  #teammember .Team {
    flex-direction: column;
    text-align: center;
  }

  .teamwrapper p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .teamwrapper h3 {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .teamwrapper button {
    font-size: 16px;
    padding: 12px 15px;
    width: 100%;
  }

  #teammember img {
    width: 80%;
    margin-top: 30px;
  }
  #footer {
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
  }

  .contact_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contact_wrapper .contact-info p {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    /* width: 203px; */
    /* text-align: ; */
    margin: auto;
  }
  .footer_left_des img {
    margin-bottom: 30px;
    width: 250px;
    margin: 20px auto;
  }

  .footer_left_des input {
    width: 80%;
    font-size: 14px;
    margin: 10px auto;
  }

  .footer_left_des input::placeholder {
    text-align: center;
  }
  .footer_left_des p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  .social_icon {
    justify-content: center;
    column-gap: 30px;
    padding: 20px 0;
  }
  .contact_wrapper .contact-info h4 {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 21px;
  }
  .social_icon i {
    font-size: 26px;
  }

  .divider {
    height: 1px;
    width: 80%;
    margin: 20px auto;
  }

  .contact-info {
    margin-top: 20px;
  }

  .contact-info h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .contact-info p {
    font-size: 14px;
    width: auto;
  }

  .copyright p {
    font-size: 18px;
    margin-top: 15px;
  }
}
