@font-face {
  font-family: "ArialCustom"; /* Custom name to use in CSS */
  src: url("/fonts/Arial.ttf") format("truetype"); /* Ensure the path is correct */
  font-weight: normal;
  font-style: normal;
}

/* Common Styling Started */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ArialCustom", sans-serif;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}

/* Common Styling Ended */
/* Header Started  */
#Banner {
  background: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
.navbar {
  margin-top: 50px !important;
  border-bottom: 1.5px solid rgba(215, 224, 242, 0.5);
}
.navbar li a {
  font-weight: 700;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
}
.navbar .nav-item {
  position: relative;
  padding-right: 25px;
}
.navbar-nav .nav-item:not(:last-child)::after {
  content: "/";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
}
.banner_left_wrapper .banner_title {
  margin-top: 228px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 40px;
}
.banner_left_wrapper .fw-bold {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 86px;
  line-height: 110px;
  margin-bottom: 40px;
}
.banner_left_wrapper .bannerdes {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 40px;
}
.input_container {
  margin-bottom: 40px;
}
.banner_button button {
  margin-bottom: 200px;
  padding: 16px 18px;
  font-size: 18px;
  font-weight: 700;
}
.right_nav{
  column-gap: 60px;
}
.right_nav i{
color: white;
height: 24px;
width: 24px;
}
.right_nav img{
height: 24px;
width: 24px;
}


/* Header ended  */
/* agencty styling started  */
.about-agency {
  margin: 180px 0;
}
.about_agency_wrapper {
  display: flex;
}
.about_agency_wrapper .agency_title {
  font-weight: 700;
  font-size: 18px;
  color: rgba(5, 160, 129, 1);
  margin-bottom: 40px;
}
.about_agency_wrapper h3 {
  font-weight: 700;
  font-size: 40px;
  color: rgba(41, 49, 61, 1);
  margin-bottom: 50px;
  line-height: 50px;
}
.about_agency_wrapper .text-muted {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(41, 49, 61, 0.5);
}
.about_agency_wrapper a {
  font-weight: 700;
  font-size: 16px;
  color: rgba(5, 160, 129, 1);
  padding: 12px 24px;
  background-color: white;
}

.about_agency_wrapper .agencyrightimg {
}
/* agencty styling ended  */
/* whatweoffer styling started  */
#whatweoffer {
  margin: 180px 0;
}
.what_we_offer_wrapper .what_title {
  font-weight: 700;
  color: rgba(5, 160, 129, 1);
  font-size: 18px;
  margin-bottom: 40px;
}
.what_we_offer_wrapper h3 {
  font-weight: 700;
  color: rgba(41, 49, 61, 1);
  font-size: 45px;
  margin-bottom: 51px;
  width: 640px;
}
.what_we_offer_wrapper .nav-tabs .active {
  font-weight: 700;
  font-style: 16px;
  color: rgba(5, 160, 129, 1) !important;
}
.what_we_offer_wrapper .nav-tabs {
  border-bottom: 1.5px solid rgba(215, 224, 242, 0.6);
  margin-bottom: 75px;
}
.what_we_offer_wrapper .nav-link {
  font-weight: 400;
  font-style: 16px;
  color: rgba(41, 49, 61, 0.5) !important;
}
.tabbing_description {
  display: flex;
}
.tabbing_description .text-muted {
  font-size: 20px;
  font-weight: 400;
  color: rgba(41, 49, 61, 0.5);
  line-height: 37px;
  margin-bottom: 100px;
}
.tabbing_description a {
  color: rgba(5, 160, 129, 1);
  border-radius: 0;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 16px 18px;
}

/* whatweoffer styling ended  */
/* seeallvideo styling strted  */
#seeallvideo {
  background: url("/images/allvideobg.png");
  height: 400px;
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 273px;
}
#seeallvideo .seetitle {
  font-weight: 700;
  font-size: 18px;
  color: rgba(5, 160, 129, 1);
  margin-bottom: 40px;
}
.see_video_wrapper {
  display: flex;
  align-items: center;
  column-gap: 64px;
  margin-bottom: 273px;
}
.see_video_wrapper button {
  font-weight: 700;
  font-size: 18px;
  background-color: rgba(5, 160, 129, 1);
  padding: 15px 18px;
}

.video_rigt_container .vdtitle {
  color: rgba(0, 0, 0, 1);
  font-size: 21px;
  font-weight: 400;
  line-height: 35px;
  width: 435px;
  margin-bottom: 30px;
}
.video_rigt_container .vddescription {
  color: rgba(41, 49, 61, 0.5);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  width: 600px;
  margin-bottom: 30px;
}

/* see all video styling ended  */
/* residentials styling started  */
#residentials {
  margin: 180px 0;
}
#residentials .residen_wrapper {
}
#residentials .residen_wrapper p {
  color: rgba(5, 160, 129, 1);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 40px;
}
#residentials .residen_wrapper h3 {
  color: rgba(41, 49, 61, 1);
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  margin-bottom: 43px;
}
.residential_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 100px;
}
.residential_cards .bottom {
  margin-top: 60px;
}

.residential_cards .card {
  border-radius: 0 !important;
  border: none;
  outline: none;
  text-align: center;
}
.residential_cards img {
  border-radius: 0 !important;
  width: 100%;
  height: auto;
}
.residential_cards .card-title {
  font-weight: 700;
  font-size: 28px;
  color: rgba(41, 49, 61, 1);
}
.residential_cards .card-text {
  font-weight: 400;
  font-size: 14px;
  color: rgba(41, 49, 61, 1);
}
.meet_button button {
  font-weight: 700;
  font-size: 18px;
  background-color: rgba(5, 160, 129, 1);
  padding: 15px 18px;
  margin-top: 100px;
}
/* residentials styling ended  */

/* Testimonial Started  */
#testimonial {
}
#testimonial .testimonialbg {
  padding: 140px 0 65px 82px;
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  position: relative;
  justify-content: space-between;
}

.test_title_wrapper .testimonial_title {
  color: rgba(5, 160, 129, 1);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 40px;
}
.test_title_wrapper h3 {
  color: rgba(41, 49, 61, 1);
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  width: 366px;
  margin-bottom: 40px;
}
.test_title_wrapper .real_des {
  color: rgba(41, 49, 61, 0.5);
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 51px;
  text-align: justify;
}

.pro_right {
}
.pro_pic_wrapper {
  display: flex;
  align-items: center;
  column-gap: 22px;
  margin-bottom: 58px;
}
.pro_pic_wrapper img {
  width: 81px;
}
.pro_right .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 8px;
}
.pro_right .desig {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: rgba(41, 49, 61, 0.5);
}
.counter {
  display: flex;
  justify-content: space-between;
}
.counter .item1 {
}
.counter .item1 h3 {
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  margin-bottom: -10px;
}
.counter .item1 p {
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.testimonial_wrapper {
  position: relative;
}
.testimonial_slider {
  position: absolute;
  top: -200px;
  right: -60px;
}
.testimonial_slider img {
  width: 100%;
  height: auto;
}
/* Testimonial Ended  */

/* Teammember Started  */
#teammember {
  padding: 180px 0;
}
#teammember .Team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#teammember img {
  width: 100%;
  height: auto;
}
.teamwrapper p {
  color: rgba(5, 160, 129, 1);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 40px;
}
.teamwrapper h3 {
  color: rgba(41, 49, 61, 1);
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 107px;
}
.teamwrapper button {
  font-weight: 700;
  font-size: 18px;
  background-color: rgba(5, 160, 129, 1);
  padding: 15px 18px;
}
/* Teammember Ended  */
/* footer section started  */
#footer {
  background-color: rgba(5, 160, 129, 1);
  padding-top: 52px;
  padding-bottom: 21px;
}
.footer_left_des {
  display: flex;
  flex-direction: column;
}
.footer_left_des img {
  margin-bottom: 58px;
}
.footer_left_des input {
  border: none;
  border-bottom: 1.5px solid white;
  background-color: transparent;
  width: 85%;
  margin-bottom: 22px;
}
.footer_left_des input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9px;
}
.footer_left_des p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
  margin-bottom: 37px;
}

.social_icon {
  display: flex;
  column-gap: 42px;
}
.social_icon i {
  width: 12px;
  height: auto;
  color: white;
}
.copyright p {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 13px;
  line-height: 18.5px;
}
.contact_wrapper {
  display: flex;
  align-items: center;
}
.contact_wrapper .contact-info h4 {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 21px;
}
.contact_wrapper .contact-info p {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.divider {
  content: "";
  height: 200px;
  width: 1.5px;
  color: white;
  border: 1.5px solid white;
  border-radius: 1px;
  margin: 0 auto;
}
/* footer section ended  */
