@font-face {
  font-family: "ArialCustom"; /* Custom name to use in CSS */
  src: url("/fonts/Arial.ttf") format("truetype"); /* Ensure the path is correct */
  font-weight: normal;
  font-style: normal;
}

/* Common Styling Started */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ArialCustom", sans-serif;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
/* Common Styling Ended */

/* Testimonial Started  */
#testimonial {
}
#testimonial .testimonialbg {
  padding: 140px 0 65px 82px;
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  position: relative;
  justify-content: space-between;
}

.test_title_wrapper .testimonial_title {
  color: rgba(5, 160, 129, 1);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 40px;
}
.test_title_wrapper h3 {
  color: rgba(41, 49, 61, 1);
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  width: 366px;
  margin-bottom: 40px;
}
.test_title_wrapper .real_des {
  color: rgba(41, 49, 61, 0.5);
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 51px;
  text-align: justify;
}

.pro_right {
}
.pro_pic_wrapper {
  display: flex;
  align-items: center;
  column-gap: 22px;
  margin-bottom: 58px;
}
.pro_pic_wrapper img {
  width: 81px;
}
.pro_right .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 8px;
}
.pro_right .desig {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: rgba(41, 49, 61, 0.5);
}
.counter {
  display: flex;
  justify-content: space-between;
}
.counter .item1 {
}
.counter .item1 h3 {
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  margin-bottom: -10px;
}
.counter .item1 p {
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.testimonial_wrapper {
  position: relative;
}
.testimonial_slider {
  position: absolute;
  top: -200px;
  right: -60px;
}
.testimonial_slider img {
  width: 100%;
  height: auto;
}
/* Testimonial Ended  */

/* Teammember Started  */
#teammember {
  padding: 180px 0;
}
#teammember .Team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#teammember img {
  width: 100%;
  height: auto;
}
.teamwrapper p {
  color: rgba(5, 160, 129, 1);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 40px;
}
.teamwrapper h3 {
  color: rgba(41, 49, 61, 1);
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 107px;
}
.teamwrapper button {
  font-weight: 700;
  font-size: 18px;
  background-color: rgba(5, 160, 129, 1);
  padding: 15px 18px;
}
/* Teammember Ended  */
/* footer section started  */
#footer {
  background-color: rgba(5, 160, 129, 1);
  padding-top: 52px;
  padding-bottom: 21px;
}
.footer_left_des {
  display: flex;
  flex-direction: column;
}
.footer_left_des img {
  margin-bottom: 58px;
}
.footer_left_des input {
  border: none;
  border-bottom: 1.5px solid white;
  background-color: transparent;
  width: 85%;
  margin-bottom: 22px;
}
.footer_left_des input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9px;
}
.footer_left_des p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
  margin-bottom: 37px;
}

.social_icon {
  display: flex;
  column-gap: 42px;
}
.social_icon i {
  width: 12px;
  height: auto;
  color: white;
}
.copyright p {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 13px;
  line-height: 18.5px;
}
.contact_wrapper {
  display: flex;
  align-items: center;
}
.contact_wrapper .contact-info h4 {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 21px;
}
.contact_wrapper .contact-info p {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.divider {
  content: "";
  height: 200px;
  width: 1.5px;
  color: white;
  border: 1.5px solid white;
  border-radius: 1px;
  margin: 0 auto;
}
/* footer section ended  */
